In [1]:
import pandas as pd
import numpy as np

import unicodedata
import re
import json
import time
import os
import requests

import nltk
from nltk.tokenize.toktok import ToktokTokenizer
from nltk.corpus import stopwords

In [2]:
df = pd.read_csv('train.csv')

In [3]:
df.head()

,id,url_legal,license,excerpt,target,standard_error
0,c12129c31,NaN,NaN,When the young people returned to the ballroom...,-0.340259,0.464009
1,85aa80a4c,NaN,NaN,"All through dinner time, Mrs. Fayre was somewh...",-0.315372,0.480805
2,b69ac6792,NaN,NaN,"As Roger had predicted, the snow departed as q...",-0.580118,0.476676
3,dd1000b26,NaN,NaN,And outside before the palace a great garden w...,-1.054013,0.450007
4,37c1b32fb,NaN,NaN,Once upon a time there were Three Bears who li...,0.247197,0.510845

In [4]:
df = df.drop(columns=['url_legal','license'])

In [5]:
df.head()

,id,excerpt,target,standard_error
0,c12129c31,When the young people returned to the ballroom...,-0.340259,0.464009
1,85aa80a4c,"All through dinner time, Mrs. Fayre was somewh...",-0.315372,0.480805
2,b69ac6792,"As Roger had predicted, the snow departed as q...",-0.580118,0.476676
3,dd1000b26,And outside before the palace a great garden w...,-1.054013,0.450007
4,37c1b32fb,Once upon a time there were Three Bears who li...,0.247197,0.510845

In [8]:
df.isnull().sum()

id                0
excerpt           0
target            0
standard_error    0
dtype: int64

In [9]:
df.shape

(2834, 4)

In [10]:
import sys
sys.path.append("/Users/matthewdalton/matts_library")

import utilities as util

In [11]:
df['lemmed_text'] = [util.clean_lem_stop(string) for string in df.excerpt]

In [12]:
df.lemmed_text

0       young people returned ballroom presented decid...
1       dinner time mr fayre wa somewhat silent eye re...
2       roger predicted snow departed quickly came two...
3       outside palace great garden wa walled round fi...
4       upon time three bear lived together house wood...
                              ...
2829    think dinosaur lived picture see hot steamy sw...
2830    solid solid usually hard molecule packed toget...
2831    second state matter discus liquid solid hard t...
2832    solid shape actually touch three dimension mea...
2833    animal made many cell eat thing digest inside ...
Name: lemmed_text, Length: 2834, dtype: object

In [7]:
pd.DataFrame(df.target.describe()).T

,count,mean,std,min,25%,50%,75%,max
target,2834.0,-0.959319,1.033579,-3.676268,-1.69032,-0.91219,-0.20254,1.71139

In [6]:
pd.DataFrame(df.standard_error.describe()).T

,count,mean,std,min,25%,50%,75%,max
standard_error,2834.0,0.491435,0.034818,0.0,0.468543,0.484721,0.506268,0.649671