In [1]:
import pandas as pd
import numpy as np

import unicodedata
import re
import json
import time
import os
import requests

import nltk
from nltk.tokenize.toktok import ToktokTokenizer
from nltk.corpus import stopwords

In [2]:
df = pd.read_csv('train.csv')

In [3]:
df.head()

,id,url_legal,license,excerpt,target,standard_error
0,c12129c31,NaN,NaN,When the young people returned to the ballroom...,-0.340259,0.464009
1,85aa80a4c,NaN,NaN,"All through dinner time, Mrs. Fayre was somewh...",-0.315372,0.480805
2,b69ac6792,NaN,NaN,"As Roger had predicted, the snow departed as q...",-0.580118,0.476676
3,dd1000b26,NaN,NaN,And outside before the palace a great garden w...,-1.054013,0.450007
4,37c1b32fb,NaN,NaN,Once upon a time there were Three Bears who li...,0.247197,0.510845

In [4]:
df = df.drop(columns=['url_legal','license'])

In [5]:
df.head()

,id,excerpt,target,standard_error
0,c12129c31,When the young people returned to the ballroom...,-0.340259,0.464009
1,85aa80a4c,"All through dinner time, Mrs. Fayre was somewh...",-0.315372,0.480805
2,b69ac6792,"As Roger had predicted, the snow departed as q...",-0.580118,0.476676
3,dd1000b26,And outside before the palace a great garden w...,-1.054013,0.450007
4,37c1b32fb,Once upon a time there were Three Bears who li...,0.247197,0.510845

In [6]:
df.isnull().sum()

id                0
excerpt           0
target            0
standard_error    0
dtype: int64

In [7]:
df.shape

(2834, 4)

In [8]:
import sys
sys.path.append("/Users/matthewdalton/matts_library")

import utilities as util

In [9]:
df['lemmed_text'] = [util.clean_lem_stop(string) for string in df.excerpt]

In [10]:
df.lemmed_text[1]

"dinner time mr fayre wa somewhat silent eye resting dolly wistful uncertain expression wanted give child pleasure craved hard work bring point overcoming objectionsat last however meal wa nearly smiled little daughter said right dolly may gooh mother dolly cried overwhelmed sudden delight reallyoh glad sure ' willingi ' persuaded willing returned mr fayre whimsically confess hate go ' bear deprive pleasure trip say would also keep dotty home altogether think shall give inoh angel mother blessed lady good dolly flew around table gave mother hug nearly suffocated"

In [11]:
pd.DataFrame(df.target.describe()).T

,count,mean,std,min,25%,50%,75%,max
target,2834.0,-0.959319,1.033579,-3.676268,-1.69032,-0.91219,-0.20254,1.71139

In [12]:
pd.DataFrame(df.standard_error.describe()).T

,count,mean,std,min,25%,50%,75%,max
standard_error,2834.0,0.491435,0.034818,0.0,0.468543,0.484721,0.506268,0.649671

In [13]:
import spacy

In [14]:
nlp = spacy.load("en_core_web_lg")

In [19]:
nlp(df.excerpt[1])

All through dinner time, Mrs. Fayre was somewhat silent, her eyes resting on Dolly with a wistful, uncertain expression. She wanted to give the child the pleasure she craved, but she had hard work to bring herself to the point of overcoming her own objections.
At last, however, when the meal was nearly over, she smiled at her little daughter, and said, "All right, Dolly, you may go."
"Oh, mother!" Dolly cried, overwhelmed with sudden delight. "Really?
Oh, I am so glad! Are you sure you're willing?"
"I've persuaded myself to be willing, against my will," returned Mrs. Fayre, whimsically. "I confess I just hate to have you go, but I can't bear to deprive you of the pleasure trip. And, as you say, it would also keep Dotty at home, and so, altogether, I think I shall have to give in."
"Oh, you angel mother! You blessed lady! How good you are!" And Dolly flew around the table and gave her mother a hug that nearly suffocated her.

SyntaxError: invalid syntax (<ipython-input-20-12a6a7f69a99>, line 1)