# Common Lit Kaggle Competition

## Data Dictionary

- id: unique ID for excerpt
- url_legal:  URL of source - this is blank in the test set.
- license:  license of source material - this is blank in the test set.
- excerpt:  text to predict reading ease of
- target:  reading ease
- standard_error:  measure of spread of scores among multiple raters for each excerpt. Not included for test data.

## Imports

In [2]:
import pandas as pd

## Acquire

In [3]:
df = pd.read_csv('train.csv')
df.head()

,id,url_legal,license,excerpt,target,standard_error
0,c12129c31,NaN,NaN,When the young people returned to the ballroom...,-0.340259,0.464009
1,85aa80a4c,NaN,NaN,"All through dinner time, Mrs. Fayre was somewh...",-0.315372,0.480805
2,b69ac6792,NaN,NaN,"As Roger had predicted, the snow departed as q...",-0.580118,0.476676
3,dd1000b26,NaN,NaN,And outside before the palace a great garden w...,-1.054013,0.450007
4,37c1b32fb,NaN,NaN,Once upon a time there were Three Bears who li...,0.247197,0.510845